*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/java/com/rohitsuratekar/NCBSinfo/constants/Network.java
app/google-services.json
*.properties
app/src/main/java/com/rohitsuratekar/NCBSinfo/background/NetworkConstants.java
app/src/main/java/com/rohitsuratekar/NCBSinfo/interfaces/NetworkConstants.java
