*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/java/com/rohitsuratekar/NCBSinfo/constants/Network.java
gradle.properties
app/app-release.apk
app/google-services.json
app/src/main/java/com/rohitsuratekar/NCBSinfo/interfaces/NetworkConstants.java
public_debug.jks
