<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rohitsuratekar.NCBSinfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.rohitsuratekar.NCBSinfo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.rohitsuratekar.NCBSinfo.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_map" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".Home"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DevelopersOptions"
            android:label="@string/title_activity_developers_options"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".background.DataFetch" />

        <receiver android:name=".background.Notifications" />
        <receiver android:name=".background.Alarms" />
        <receiver
            android:name=".background.AfterBoot"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".background.OnUpgrade">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="com.rohitsuratekar.NCBSinfo"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Declare Service -->
        <service
            android:name=".background.GCM"
            android:permission="android.permission.c2dm.intent.RECEIVE">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- for Gingerbread GSF backward compat -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.rohitsuratekar.NCBSinfo" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.EventUpdates"
            android:label="@string/title_activity_event_updates"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EventDetails"
            android:label="@string/title_activity_event_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Transport"
            android:label="@string/title_activity_transport"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LectureHalls"
            android:label="@string/title_activity_lecture_halls"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Experimental"
            android:label="@string/title_activity_experimental"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rohitsuratekar.NCBSinfo.Home" />
        </activity>
        <activity
            android:name=".maplist.MapActivity"
            android:label="@string/title_activity_mapactivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".maplist.MapListActivityImpl"
            android:label="Maps"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.Information"
            android:label="@string/title_activity_information"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rohitsuratekar.NCBSinfo.Home" />
        </activity>
    </application>

</manifest>