<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rohitsuratekar.NCBSinfo">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".activities.home.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.transport.Transport" />
        <activity android:name=".activities.contacts.Contacts" />
        <activity android:name=".activities.settings.Settings" />
        <activity android:name=".activities.settings.SettingsInfo" />

        <service
            android:name=".background.services.CommonTasks"
            android:exported="false" />

        <activity android:name=".activities.login.Login" />
        <activity android:name=".activities.login.Register" />
        <activity android:name=".activities.dashboard.Dashboard" />

        <service
            android:name=".background.services.SyncJobs"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <receiver android:name=".background.services.OnUpgrade">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="com.rohitsuratekar.NCBSinfo"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.locations.Locations" />
        <activity
            android:name=".activities.transport.edit.EditTransport"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.transport.ManageTransport"></activity>
        <activity android:name=".activities.intro.Intro"></activity>
        <activity android:name=".activities.home.HomeEgg"></activity>
    </application>

</manifest>